.navbar {
    overflow: hidden;
    background-color: #8b0000;
    font-family: Arial;
}

.rowanLogo{
	float: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.body{
	background: white;
}

.makeItCenter {
	
    max-width: 1500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.logoutButton{
	float: right;
}

.body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 74%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10.5%;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 30px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
	margin-top: 13px;
    margin-left: 410px;/* Same as the width of the sidenav */
}	

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 35px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.imageContainer {
    position: relative;
	top: 10px;
    left: 200px;
}
.streetAddress{
	position: relative;
	top: -30px;
    left: 425px;
	
}
#footer {
   position:fixed;
   bottom:0;
   width:96%;
   height:60px;   /* Height of the footer */
   background:grey;
   padding: 14px 16px;
}

#header {
   background:white;
   padding:10px;
}
#body {
   margin:0;
   padding:0;
   height:100%;
   background: white;
}
#container {
   min-height:100%;
   position:relative;
}


/* css code for search bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 80%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  left: 70%;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.searchDesign{
  width: 90%;
  position: relative;
  top: 6%;
  left: 54%;
  transform: translate(-50%, -50%);
}
/* css code for search bar end here */

/* css code for time display */
.timeDisplay{
	float: right;
	font-size: 20px;
	
}