div#imageHeader{
  margin-left:13%;
  margin-top:1%;
}

div#menuBar.menu{
  margin-top:1%;
  margin-left:-3%;
}

div.container{
  width:70%;
  margin-left:18%;
}

ul.nav.navbar-nav.navbar-right{
  margin-right:1%;
}

nav.navbar.navbar-default.navbar-static-top{
  font-size:20px;
  margin-left:-6%;
  background:maroon;
}

hr{
  margin-top:-1%;
  background:black;
  height:2px;
}

ul.nav.navbar-nav.navbar-left li a{
  color:white;
}

ul.nav.navbar-nav.navbar-right li a{
  color:white;
}

div#inventoryView{
  border:2px solid #cecece;
  width:74.75%;
  margin-left:12%;
}

div#inventoryView .container{
  margin-left:0%;
}

.sidenav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  overflow-x:hidden;
  transition:0.5s;
  padding-top:60px;
}

.sidenav a{
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transition:0.3s;
}

.sidenav a:hover{
  color:#f1f1f1;
}

.sidenav .closebtn{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}

input.input-sm{
  float:right;
  margin-top:-4.25%;
}

div#inventoryView .container{
}

#main{
  transition:margin-left .5s;
  padding:16px;
}

@media screen and (max-height: 450px) {
  .sidenav{
    padding-top:20px;
  }
}

div#inventoryView{
  height:50%;
}

div#inventoryView .container-fluid{
  font-size:15px;
  border-top:2px solid black;
}

div.table-responsive{
  margin-left:4px;
}

@media screen and (max-height: 450px) {
  .sidenav a{
    font-size:18px;
  }
}

