/*
Author: Dharmik Pandya
Date: 10/11/2017
This css page will manage graphical view of the sign up page to make it look better
*/

body
{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.signUpBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 900px;
	background: rgba(0,0,0,.6);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}

.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}


.signUpBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}

.signUpBox input
{
	width: 100%;
	margin-bottom: 20px;
}

.signUpBox input[type="text"],
.signUpBox input[type="Password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	height: 40px;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

::placeholder
{
	color: rgba(255,255,255,.5);
}

.signUpBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}

.signUpBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}

.signUpBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
h2
{
    display: inline-block;

}
.maxl{
	border: none;
	outline: none;
	height: 35px;
	background: transparent;
	color: #fff;
	font-size: 16px;
}

.inline{
  display: inline-block;
  line-height: 35px;
}
.inline + .inline{
  margin-left:10px;
}
.radio{
  color:#999;
  font-size:15px;
  position:relative;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
  color:#0B8;
}
.radio input[type="radio"]:checked + span:before{
  content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#0B8;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}
/* Menu bar code starts here */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/* Menu bar css code ends here */
