<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="AdminPageStylesheet.css">
</head>
<body>

 <div class="rowanLogo">
	<img src="RULogo.png" alt="Rowan Logo"   width="100" height="45">
</div>

<div class="navbar">
  <a href="#home">View Inventory</a>
  <a href="#news">Account Setting</a>
  <div class="dropdown">
	<!--Drop down for Manage -->
    <button class="dropbtn">Manage 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Users</a>
      <a href="#">Requests</a>
    </div> 
   </div>
   <!--Drop down for Database -->
   <div class="dropdown">
	
    <button class="dropbtn">Database 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">View Database</a>
      <a href="#">Manage Database</a>
    </div> 
   </div>
  
 </div>
 
 


</body>
</html>
