<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Transparent Login Form</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	</head>
	<body>
		<div class="loginBox">
			<img src="static/images/user.png" class="user">
			<h2>Log In Here</h2>
			<form>
				<p>Username</p>
				<input type="text" name="" placeholder="Enter Email or Username">
				<p>Password</p>
				<input type="Password" name="" placeholder="••••••">
				<input type="submit" name="" value="Sign In">
				<a  href="signup.html">Sign Up!</a> <a href="#">Forget Password?</a>
				
			</form>
		</div>
	</body>
</html>
