<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Page</title>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/signout.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="static/styles/adminPageStyle.css">
    <link rel="stylesheet" href="static/styles/Mockup-iPhone-6.css">
    <link rel="stylesheet" href="static/styles/Pretty-Footer.css">
</head>

<body>
    <div id="imageHeader">
        <div class="imageOnly"><img src="static/images/RULogo.png"></div>
    </div>
    <div id="menuBar" class="menu">
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation"><a href="/inventory">View Inventory</a></li>
                <li role="presentation"><a href="/manageUser">Manage Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li><a id="signout">Logout</a></li>
            </ul>
        </div>

</nav>
        </div>
    </div>
    <div id="inventoryView">
        <div class="container">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="col">
        <div class="col-md-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </span>
                </div>
            </div>
        </div>
    </div>
    </div>

<div id="main">
  <span class="btn btn-secondary" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "225px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
        <div class="table-responsive">
    <div class="row">


        <div class="col-md-12">
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>

                   <th><input type="checkbox" id="checkall" /></th>
                   <th>#</th>
                    <th>Item Code</th>
                     <th>Item Name</th>
                     <th>Quantity</th>
                     <th>Location</th>
                       <th> Available </th>
                   </thead>
    <tbody>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>01</td>
    <td>1x2z3y</td>
    <td>Dura Cell</td>
    <td>25</td>
    <td>Room 225</td>
        <td>Yes</td>
    </tr>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>02</td>
    <td>1x2z3d</td>
    <td>Normal Cell</td>
    <td>10</td>
    <td>Room 322</td>
        <td>Yes</td>
    </tr>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>03</td>
    <td>1x2zzd</td>
    <td>Rubric Cell</td>
    <td>2</td>
    <td>Room 225</td>
        <td>No</td>
    </tr>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>01</td>
    <td>1x2cdd</td>
    <td>No Cell</td>
    <td>250</td>
    <td>Room 234</td>
        <td>Yes</td>
    </tr>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>01</td>
    <td>1x2z3y</td>
    <td>Dura Cell</td>
    <td>25</td>
    <td>Room 225</td>
        <td>Yes</td>
    </tr>

    <tr>
    <td><input type="checkbox" class="checkthis" /></td>
    <td>01</td>
    <td>1x2z3y</td>
    <td>Dura Cell</td>
    <td>25</td>
    <td>Room 225</td>
        <td>Yes</td>
    </tr>



    </tbody>

</table>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>

  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>

            </div>

        </div>
	</div>
</div>



</div>
    </div>
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>
