<!DOCTYPE html>
<html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta charset="UTF-8">
     <meta name="google" content="notranslate">
     <meta http-equiv="Content-Language" content="en">
      <title>Request Lab/Demo</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/styles/requestLabsStyle.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
   </head>
   <body>
      <img src="static/images/RULogo.png">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="text-center text-primary panel-title"><strong>Request Form</strong></h3>
            </div>
            <div class="panel-body">
               <div class="col-md-5">
                  <div id = "filtercont" class="container-fluid">
                     <div class="row">
                        <form class="form">
                          <div class="form-group">
                             <label class="" for="orderBy">Course * </label>
                             <select type="text" class="form-control" id="course" required></select>
                          </div>
                           <div class="form-group">
                              <label class="" for="orderBy">Choose the Lab/Demo * </label>
                              <input type="text" class="form-control" id="lab" placeholder="e.g. Hooke's Law Lab" required readonly>
                           </div>
                           <div class="form-group">
                              <label class="" for="orderBy">Week for Lab Request *</label>
                              <select type="text" class="form-control" id="week" required></select>
                              <label class="" for="orderBy">Day of Week *</label><br>
                              <input name = "days_of_week" type="checkbox" class="" id="monday" value = "1">Monday </input>
                              <input name = "days_of_week" type="checkbox" class="" id="tuesday" value = "2">Tuesday </input>
                              <input name = "days_of_week" type="checkbox" class="" id="wednesday" value = "3">Wednesday </input>
                              <input name = "days_of_week" type="checkbox" class="" id="thursday" value = "4">Thursday </input>
                              <input name = "days_of_week" type="checkbox" class="" id="friday" value = "5">Friday </input>
                           </div>
                           <div class="form-group">
                              <label class="" for="startTime">Time(s) Requested *</label>
                              <p><small>NOTE: If requesting multiple days, please specify both day (MTWRF) and time. ("M @ 8 AM, R @ 2:15 PM")</small></p>
                              <input type="text" class="form-control" id="startTime" placeholder="start time">
                              <div class="form-group">
                                 <label class="" for="orderBy">Lab Classroom *</label>
                                 <select class="form-control" id="room" required></select>

                              </div>
                              <div class="form-group">
                                 <label class="" for="orderBy">Number of Teams * </label>
                                 <input type="text" class="form-control" id="numTeams" placeholder="8" required readonly>

                              </div>
                              <label class="" for="startDate">Instructor(s)*</label>
                              <input type="text" class="form-control" id="professor" placeholder="Prof. X" required>
                              <label class="" for="startDate">Notes:</label>
                              <textarea id="notes" name="textarea" class="form-control" cols="40" rows="5" placeholder="optional" ></textarea>
                           </div>
                           <button id="btn_submit" type="submit" class="btn btn-default">Submit</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="static/js/jQuery.js"></script>
      <script src="static/js/requestLab/populateLabFields.js"></script>
      <script src="static/js/requestLab/addLabRequest.js"></script>
      <script src="static/js/requestLab/onPageLoad.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>
