<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Permissions</title>
	<script src="static/js/jquery.js"></script>
    <script src="static/js/queryPermissions.js"></script>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>	
</head>
	<body>
		<label>Permissions for </label> <label style="color: red" id="usernameLabel"></label><br>
    <label>Add user: </label> <label style="color: red" id="addUserLabel"></label><br>
    <label>Remove user: </label> <label style="color: red" id="removeUserLabel"></label><br>
    <label>Modify permissions: </label> <label style="color: red" id="modifyPermissionsLabel"></label><br>
    <label>Request record: </label> <label style="color: red" id="requestRecordLabel"></label><br>
    <label>Add record: </label> <label style="color: red" id="addRecordLabel"></label><br>
    <label>Remove record: </label> <label style="color: red" id="removeRecordLabel"></label><br>
    <label>Modify record: </label> <label style="color: red" id="modifyRecordLabel"></label><br>
    <label>Backup database: </label> <label style="color: red" id="backupDatabaseLabel"></label><br>
    <label>Restore database: </label> <label style="color: red" id="restoreDatabaseLabel"></label><br>
	</body>
</html>
