<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Permissions</title>
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/queryPermissions.js')}}"></script>
	</head>
	<body>
		<p>Permissions for </p> <label id="usernameLabel"></label>
    <p>Add user: </p> <label id="addUserLabel"></label>
    <p>Remove user: </p> <label id="removeUserLabel"></label>
    <p>Modify permissions: </p> <label id="modifyPermissionsLabel"></label>
    <p>Request record: </p> <label id="requestRecordLabel"></label>
    <p>Add record: </p> <label id="addRecordLabel"></label>
    <p>Remove record: </p> <label id="addRecordLabel"></label>
    <p>Modify record: </p> <label id="addRecordLabel"></label>
    <p>Backup database: </p> <label id="backupDatabaseLabel"></label>
    <p>Restore database: </p> <label id="restoreDatabaseLabel"></label>
	</body>
</html>
