<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Labs and Demos</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/styles/viewLabsDemos.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
   </head>
   <body>
      <img src="static/images/RULogo.png">
      <nav class="navbar navbar-default" id="mainnavbar">
         <div class="container-fluid">
            <div class="navbar-header"><a href="#" class="navbar-brand visible-xs-block navbar-link">Menu </a>
               <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
               <ul class="nav navbar-nav">
                  <li class="dropdown">
                     <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">View <span class="caret"></span></a>
                     <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="/inventory">Inventory </a></li>
                        <li role="presentation"><a href="/labsAndDemos">Labs &amp; Demos</a></li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a id="signout" href="#">Log out</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="col-lg-2 col-lg-offset-0 col-md-3 col-sm-4">
         <nav class="navbar navbar-default" id="sidenavbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
               </div>
               <div class="collapse navbar-collapse" id="navcol-2">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="text-center">
                        </div>
                     </div>
                  </div>
                  <!--FILTER CODE starts here-->
                  <h2 style = "text-align: center;"> Filter </h2>
                  <hr>
                  <div id = "filtercont" class="container">
                     <div class="row">
                        <form class="form">
                           <div class="form-group">
                              <div class="form-group">
                                 <label class="" for="orderBy">Labs/Demos</label>
                                 <select id="filter_type" class="form-control">
                                    <option></option>
                                    <option value="lab">Labs</option>
                                    <option value="demo">Demos</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label class="" for="filter_name">Name</label>
                                 <input id="filter_name" type="text" class="form-control" placeholder="Name" name="filter_name">
                              </div>
                              <div class="form-group">
                                 <label class="" for="filter_topic">Topic</label>
                                 <input id="filter_topic" type="text" class="form-control" placeholder="Topic" name="filter_topic">
                              </div>
                              <div class="form-group">
                                 <label class="" for="filter_concept">Concept</label>
                                 <input id="filter_concept" type="text" class="form-control" placeholder="Concept" name="filter_concept">
                              </div>
                              <div class="form-group">
                                 <label class="" for="filter_subconcept">Subconcept</label>
                                 <input id="filter_subconcept" type="text" class="form-control" placeholder="Subconcept" name="filter_subconcept">
                              </div>
                           </div>
                           <button id= "filter_submit"  class="btn btn-default">Filter</button>
                        </form>
                     </div>
                  </div>
                  <!--FILTER CODE ends here-->
               </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Lab/Demo</h4>
                     </div>
                     <div class="modal-body">
                        <form >
                           <div class="form-group">
                              <label for="text">Name:</label>
                              <input id="input_name" type="text" class="form-control" id="itemcode" placeholder="name for lab/demo" name="firstname">
                           </div>
                           <div class="form-group">
                              <label for="pwd">Topic:</label>
                              <input id="input_topic" type="text" class="form-control" id="itemname" placeholder="topic name" name="middlename">
                           </div>
                           <div class="form-group">
                              <label for="text">Concept:</label>
                              <input id="input_concept" type="text" class="form-control" id="quantity" placeholder="concept for lab/demo" name="lastname">
                           </div>
                           <div class="form-group">
                              <label for="text">Subconcept</label>
                              <input id="input_subconcept" type="text" class="form-control" id="quantity" placeholder="subconcept name for lab/demo" name="text">
                           </div>
                           <div class="form-group">
                              <label for="text">Category</label>
                              <label class="radio-inline">
                              <input id="input_lab" type="radio" name="optradio"> Lab
                              </label>
                              <label class="radio-inline">
                              <input id="input_demo" type="radio" name="optradio">Demo
                              </label>
                           </div>
                           <button id="new_lab_btn" type="submit" class="btn btn-default">Submit</button>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      </div>
      <div class="col-lg-10 col-lg-offset-0 col-md-9 col-sm-8">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="text-center text-primary panel-title"><strong>Labs &amp; Demos</strong></h3>
            </div>
            <div class="panel-body">
               <div class="table-responsive">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="table-responsive">
                           <table id="mytable" class="table table-bordred table-striped">
                              <thead>
                                 <th>
                                   <th id="th_type">Type</th>
                                   <th id="th_name">Name</th>
                                   <th id="th_topic">Topic</th>
                                   <th id="th_concept">Concept</th>
                                   <th id="th_subconcept">Subconcept</th>
                              </thead>
                              <tbody id="tablebody">
                              </tbody>
                           </table>
                           <div class="clearfix"></div>
                           <ul class="pagination pull-right">
                              <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
      </div>

      <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  <h4 class="modal-title custom_align" id="Heading">More Info</h4>
               </div>
               <div class="modal-body">
                  <form >
                     <div class="form-group">
                        <label for="info_name">Name:</label>
                        <input readonly type="text" class="form-control" id="info_name" placeholder="Name" 					name="info_name">
                     </div>
                     <div class="form-group">
                        <label for="info_topic">Topic</label>
                        <input readonly type="text" class="form-control" id="info_topic" placeholder="Topic" 						name="info_topic">
                     </div>
                     <div class="form-group">
                        <label for="info_concept">Concept</label>
                        <input readonly type="text" class="form-control" id="info_concept" placeholder="Concept" 						name="info_concept">
                     </div>
                     <div class="form-group">
                        <label for="info_subconcept">Subconcept</label>
                        <input readonly type="text" class="form-control" id="info_subconcept" placeholder="Subconcept" 						name="info_subconcept">
                     </div>
                     <div class="form-group">
                        <label for="info_lab_demo">Category:</label>
                        <input readonly id="info_lab_demo" type="text" name="info_lab_demo" placeholder="Lab/Demo">
                     </div>
                     <div class="form-group">
                        <label class="" for="orderBy">Required Items</label>
                        <select id="info_required_items" class="form-control">

                        </select>
                     </div>
                     <div class="form-group">
                        <button id="btn_request_lab" onclick='location.href="/requestLab"' class="btn btn-success navbar-btn " type="button" >Request</button>
                     </div>
                  </form>
               </div>
               <div class="modal-footer ">
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>

      <!-- /.modal-dialog -->
      </div>
      <!--Add Item pop for edit item code ends here -->
      </div>
      </div>
      </div>
      <script src="static/js/jQuery.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
      <script src="static/js/labsAndDemos/normal/getFilteredLabs.js"></script>
      <script src="static/js/labsAndDemos/admin/populateRequiredInfoItems.js"></script>
      <script src="static/js/labsAndDemos/admin/populateInfoModal.js"></script>
      <script src="static/js/labsAndDemos/normal/onPageLoad.js"></script>
      <script src="static/js/signout.js"></script>
   </body>
</html>
