<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
    <title>Labs and Demos</title>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      <script src="static/js/jQuery.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
      <script src="static/js/labsAndDemos/admin/getFilteredLabsAdmin.js"></script>
      <script src="static/js/labsAndDemos/admin/addLab.js"></script>
      <script src="static/js/labsAndDemos/admin/addItemToLab.js"></script>
      <script src="static/js/labsAndDemos/admin/editLabDemo.js"></script>
      <script src="static/js/labsAndDemos/openPDFTab.js"></script>
      <script src="static/js/labsAndDemos/admin/populateRequiredItems.js"></script>
      <script src="static/js/labsAndDemos/admin/populateRequiredInfoItems.js"></script>
      <script src="static/js/labsAndDemos/admin/populateEditModal.js"></script>
      <script src="static/js/labsAndDemos/admin/populateInfoModal.js"></script>
      <script src="static/js/labsAndDemos/populateFilterDropdowns.js"></script>
      <script src="static/js/labsAndDemos/admin/populateAddDropdowns.js"></script>
      <script src="static/js/labsAndDemos/admin/populateInventoryDropdown.js"></script>
      <script src="static/js/labsAndDemos/admin/removeLab.js"></script>
      <script src="static/js/labsAndDemos/admin/onPageLoad.js"></script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles/viewLabsDemos.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    
</head>

<body>
    <img src="static/images/RULogo.png">
    <nav class="navbar navbar-default" id="mainnavbar">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand visible-xs-block navbar-link" href="#">Menu </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">View <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="inventory">Inventory </a></li>
                            <li role="presentation"><a href="labsAndDemos">Labs &amp; Demos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">Manage <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="manageUserRequests">User Requests</a></li>
                            <li role="presentation"><a href="manageUserPermissions">User Permissions</a></li>
                            <li role="presentation"><a href="manageLabRequest">Lab/Demo Requests</a></li>
                            <li role="presentation"><a href="manageConcepts">Manage Concepts</a></li>
                            <li role="presentation"><a href="systemVariables">System Settings</a></li>
                        </ul>
                        <li class="dropdown">
                            <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">Database <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="uploadDatabase">Import Database</a></li>
                            </ul>
                        </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="signout" href="signout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-sm-4">
        <nav class="navbar navbar-default" id="sidenavbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button class="btn btn-success navbar-btn " type="button" href="#myModal" data-toggle="modal">Add</button>
                            </div>
                        </div>
                    </div>
                    <!--FILTER CODE starts here-->
                    <h2 style="text-align: center;"> Filter </h2>
                    <hr>
                    <div id="filtercont" class="container">
                        <div class="row">
                            <form class="form">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="" for="orderBy">Labs/Demos</label>
                                        <select id="filter_type" class="form-control">
                                            <option></option>
                                            <option value="lab">Labs</option>
                                            <option value="demo">Demos</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="filter_name">Name</label>
                                        <input id="filter_name" type="text" class="form-control" placeholder="Name" name="filter_name">
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="filter_topic">Topic</label>
                                        <select id="filter_topic" type="text" class="form-control" name="filter_topic"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="filter_concept">Concept</label>
                                        <select id="filter_concept" type="text" class="form-control" name="filter_concept"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="filter_subconcept">Subconcept</label>
                                        <select id="filter_subconcept" type="text" class="form-control" name="filter_subconcept"></select>
                                    </div>
                                </div>
                                <button id="filter_submit" class="btn btn-default">Filter</button>
                            </form>
                        </div>
                    </div>
                    <!--FILTER CODE ends here-->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Lab/Demo</h4>
                        </div>
                        <div class="modal-body">
                            <form action="uploadFile" method="POST" enctype="multipart/form-data">
                              <input name="lab_id" hidden>
                                <div class="form-group">
                                    <label for="text">Name:</label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="name for lab/demo">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Topic:</label>
                                    <select name="topic" id="topic" type="text" class="form-control"><select>
                                </div>
                                <div class="form-group">
                                    <label for="text">Concept:</label>
                                    <select name="concept" id="concept" type="text" class="form-control" ><select>
                                </div>
                                <div class="form-group">
                                    <label for="text">Subconcept</label>
                                    <select name="subconcept" id="subconcept" type="text" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="text">Category</label>
                                    <label class="radio-inline">
                                        <input value="LAB" name="type" id="type" type="radio" checked>Lab
                                    </label>
                                    <label class="radio-inline">
                                        <input value="DEMO" name="type" id="type" type="radio">Demo
                                    </label>
                                </div>
                                <div class="input-group input-file" name="Fichier1">
                                    <input id="file_upload" type="file" name="file" class="form-control" />
                                    <span class="input-group-btn">
                              <button onclick="document.getElementById('file_upload').click();" class="btn btn-default btn-choose" type="button" style = "margin-bottom: 25%;">Upload</button>
                              </span>
                                </div>
                                <input id="new_lab_btn" type="submit" class="btn btn-default"></input>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-lg-10 col-lg-offset-0 col-md-9 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center text-primary panel-title"><strong>Labs &amp; Demos</strong></h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="mytable" class="table table-bordred table-striped">
                                <thead>
                                    <th>
                                        <th id="th_type">Type</th>
                                        <th id="th_name">Name</th>
                                        <th id="th_topic">Topic</th>
                                        <th id="th_concept">Concept</th>
                                        <th id="th_subconcept">Subconcept</th>
                                        <th> More </th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                </thead>
                                <tbody id="tablebody">
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Edit Lab/Demo</h4>
                            </div>
                            <div class="modal-body">
                                <form action="uploadFile" method="POST" enctype="multipart/form-data">
                                    <input id="edit_id" name="lab_id" value="-1" hidden>
                                    <div class="form-group">
                                        <label for="edit_name">Name:</label>
                                        <input type="text" class="form-control" id="edit_name" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_topic">Topic</label>
                                        <select type="text" class="form-control" id="edit_topic" name="topic"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_concept">Concept</label>
                                        <select type="text" class="form-control" id="edit_concept" name="concept"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_concept">Subconcept</label>
                                        <select type="text" class="form-control" id="edit_subconcept" name="subconcept"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Category:</label>
                                        <label class="radio-inline">
                                            <input id="edit_lab_rad" type="radio" name="type" value="LAB">Lab
                                        </label>
                                        <label class="radio-inline">
                                            <input id="edit_demo_rad" type="radio" name="type" value="DEMO">Demo
                                        </label>
                                    </div>
                                    <div class="input-group input-file" name="Fichier1">
                                        <input id="file_upload" type="file" name="file" class="form-control" />
                                    </div>
                                    <button id="modal_add_item" data-target="#additem" data-dismiss="modal" class="btn btn-success navbar-btn " type="button" href="#myModal" data-toggle="modal">Add Item</button>
                                    <div class="modal-footer ">
                                        <input id="edit_update_btn" type="submit" class="btn btn-warning btn-lg" style="width: 100%;"></input>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">More Info</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="info_name">Name:</label>
                                        <input readonly type="text" class="form-control" id="info_name" placeholder="Name" name="info_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="info_topic">Topic</label>
                                        <input readonly type="text" class="form-control" id="info_topic" placeholder="Topic" name="info_topic">
                                    </div>
                                    <div class="form-group">
                                        <label for="info_concept">Concept</label>
                                        <input readonly type="text" class="form-control" id="info_concept" placeholder="Concept" name="info_concept">
                                    </div>
                                    <div class="form-group">
                                        <label for="info_subconcept">Subconcept</label>
                                        <input readonly type="text" class="form-control" id="info_subconcept" placeholder="Subconcept" name="info_subconcept">
                                    </div>
                                    <div class="form-group">
                                        <label for="info_lab_demo">Category:</label>
                                        <input readonly id="info_lab_demo" type="text" name="info_lab_demo" placeholder="Lab/Demo">
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="orderBy">Required Items</label>
                                        <select id="info_required_items" class="form-control">

                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer ">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <!--Add Item pop for edit item code starts here -->
                <div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Add Item to Lab/Demo</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="" for="orderBy"> Currently Required Items</label>
                                        <select id="addCurrentItems" class="form-control">
                                            <option></option>
                                            <option>Cell</option>
                                            <option>Dura Cell</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Quantity:</label>
                                        <input id="addItemQuantity" type="text" class="form-control" id="itemname" placeholder="e.g. 6" name="itemname">
                                    </div>
                                    <div class="form-group">
                                        <label class="" for="orderBy">Select Item To Add</label>
                                        <select id="addAllItems" class="form-control">
                                            <option></option>
                                            <option>1x1z1d</option>
                                            <option>1122335</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer ">
                                <button id="btn_add_item_to_lab" type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--Add Item pop for edit item code ends here -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Delete this Record?</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this record?</div>
                            </div>
                            <div class="modal-footer ">
                                <button id="remove_ok" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
